label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.color-picker label {
    position: relative;
    margin-right: 6px;
    outline: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    border: 1px solid #fff;
}

.red {
    background: red;
}
.white {
    background: white;
}
.orange {
    background: orange;
}
.yellow {
    background: yellow;
}
.green {
    background: red;
}
.blue {
    background: blue;
}
.navy-blue {
    background: navy;
}
.purple {
    background: red;
}
.black {
    background: black;
}
.mint-blue {
    background: #3bb990;
}
.lime-green {
    background: #47d41b;
}
.pink {
    background: #ff8b9d;
}

input[type="radio"] {
    position: absolute;
    display: block;
    margin: 0;
    width: 20px;
    height: 20px;
    left: -1px;
    top: -1px;
    opacity: 0;
    border: 2px solid #3E8ACC;
    border-radius: 50%;
    box-shadow: 0 0 2px 0 #3E8ACC;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.25s ease-out, opacity 0.25s ease-out;
}

input[type="radio"]:checked {
    opacity: 1;
}

input[type="radio"]:before {
    content: "";
    position: absolute;
    display: block;
    opacity: 0;
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 50%;
    left: -2px;
    top: -2px;
    transition: border 0.25s ease-out, opacity 0.25s ease-out;
  }
  
  input[type="radio"]:checked:before {
      opacity: 1;
  }

.total-cost{
    width: 100px;
    max-width: 120px;
}

.categories-list{
    display: inline-block;
}
.dff{
    display: flex;align-items: center;
}

.add-tv{
    display: block;
    margin: 10px auto;
}

#details{
    padding: 10px;
}
.product-add-det{
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 5px;
}
.colorl{
    color : #31456a;
}
.product-delete{
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: 30px;
    background-color: rgba(214, 27, 27, 0.87);
    color: snow;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}
.add-dish__btn{
    font-size: 16px;
    line-height: 1;
    width: 130px;
    margin-left: 10px;
    padding: 12px 21px 15px 21px;
    cursor: pointer;
    height: 46px;
    border: none;
    background: #31456a;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: background 0.15s ease-in;
    &:hover{
        background: #5778b4;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        font-weight: bold;
    }
}